<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload</title>
    <link rel="icon" type="image/x-icon" href="http://localhost:8080/image/favicon">

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <%-include('partials/header')%>
    </header>

    <div class="container">
        <h1>Upload your photo</h1>
        <hr />
        <form action="upload" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Image Title</label>
                <input type="text" id="name" name="name" placeholder="Smiley Face" size="100" value="" required />
            </div>
            <br>
            <div>
                <label for="desc">Image Description</label>
                <textarea id="desc" name="desc" value="" rows="5" cols="100"></textarea>
            </div>
            <br>
            <div>
                <label for="tag">Tag</label>
                <input type="text" id="tags" name="tags" placeholder="smile, happy, emoji" size="100" value="" />
            </div>
            <br>
            <div>
                <label for="image">Upload Image: </label>
                <input type="file" id="image" name="image" value="" required />
            </div>
            <div>
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>
</body>

</html>